<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>

    <div class="hero-pages">
      <div class="container hero-flex">
        <div class="hero__title">
          <img src="/img/add-product.png" alt="" />
          <h1><span>Agregar</span> libro</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Admin</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add product</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="about-us py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="about-us__title">
              <i class="fa-solid fa-circle-plus fa-2xl"></i>
              <h4>Formulario para agregar un libro</h4>
            </div>
            <% if (locals.errors) { %>
              <div class="alert alert-danger" role="alert">
                <strong>Opps !</strong> Algo ha salido mal.
              </div>
            <% } %>
            
            <form method="post" action="/products/admin/create" enctype="multipart/form-data" class="row g-3 needs-validation mb-5 py-4" novalidate>
              <div class="col-md-8">
                <label for="name-product" class="form-label"
                  >Nombre del libro</label
                >
                <input
                  type="text"
                  class="<%= (locals.errors && errors.name) ? `form-control is-invalid` : `form-control` %>" 
                  id="name-product"
                  name="name"
                  placeholder="Ejemplo: La Divina Comedia"
                  value="<%= locals.oldData ? oldData.name : null %>"
                  required
                />
                <% if (locals.errors && errors.name){ %>
                  <span class="focus-bg">
                    <div style="color: red"><%= errors.name.msg %></div>
                  </span>
                <% } %>
              </div>
              <div class="col-md-4">
                <label for="genero" class="form-label">Géneros</label>
                <select
                  multiple
                  name="gender"
                  id="genero"
                >
                <% if (locals.oldData) { %>
                  <% if (oldData.gender) { %>
                    <% if (!Array.isArray(oldData.gender)) { %>
                      <% let arr_generos = oldData.gender.split(',') %>
                      <% arr_generos.forEach(genero => { %>
                        <option value="<%= genero %>" selected="selected"><%= genero %></option> 
                      <% }) %>
                    <% } else { %>
                      <% oldData.gender.forEach(genero => { %>
                        <option value="<%= genero %>" selected="selected"><%= genero %></option> 
                      <% }) %>
                    <% } %>                  
                  <% } %>
                <% } %>
                  
                <option value="Acción">Acción</option>
                <option value="Comedia">Comedia</option>
                <option value="Drama">Drama</option>
                <option value="Ciencia">Ciencia Ficción</option>
                <option value="Novelas">Novelas</option>
                <option value="Terror">Terror</option>
                <option value="Suspenso">Suspenso</option>
                <option value="Documentales">Documentales</option>
                </select>
                <% if (locals.errors && errors.gender){ %>
                  <span class="focus-bg">
                    <div style="color: red"><%= errors.gender.msg %></div>
                  </span>
                <% } %>
              </div>

              <div class="col-md-8">
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Descripción</label
                  >
                  <textarea
                  class="<%= (locals.errors && errors.description) ? `form-control is-invalid` : `form-control` %>" 
                    name="description"
                    id="description"
                    rows="3"
                  ><%= locals.oldData ? oldData.description : null %></textarea>
                  <% if (locals.errors && errors.description){ %>
                    <span class="focus-bg">
                      <div style="color: red"><%= errors.description.msg %></div>
                    </span>
                  <% } %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="imagen" class="form-label"
                    >Imágen del libro</label
                  >
                  <input
                    type="file"
                    class="<%= (locals.errors && errors.image) ? `is-invalid` : `form-control` %>" 
                    name="image"
                    id="imagen"
                    placeholder="Suba una o más imágenes"
                    aria-describedby="fileHelpId"
                  />
                  <% if (locals.errors && errors.image){ %>
                    <span class="focus-bg">
                      <div style="color: red"><%= errors.image.msg %></div>
                    </span>
                  <% } %>
                  <small id="fileHelpId" class="form-text text-muted"
                    >Necesita ayuda?</small
                  >
                </div>
              </div>

              <div class="col-md-4">
                <div class="mb-3">
                  <label for="" class="form-label">Autor</label>
                  <select name="autor" id="name-autor" autocomplete="off">
                    <option value="">Seleccione un autor...</option>
                    <% autores.forEach(autor => { %>
                      <option value="<%= autor.id %>"><%= autor.first_name +" "+autor.last_name%></option>
                    <% }) %>
                  </select>
                  <% if (locals.errors && errors.autor){ %>
                    <span class="focus-bg">
                      <div style="color: red"><%= errors.autor.msg %></div>
                    </span>
                  <% } %>
                </div>
                
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-4">
                <label for="editorial" class="form-label">Editorial</label>
                <input
                  type="text"
                  class="form-control"
                  id="editorial"
                  name="editorial"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-4">
                <label for="isbn" class="form-label">ISBN</label>
                <input
                  type="text"
                  class="form-control"
                  id="isbn"
                  name="isbn"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>

              <div class="col-md-12">
                <p class="lead">
                  Especificaciones del libro
                </p>
                <hr>
              </div>
              <div class="col-md-2">
                <label for="precio" class="form-label">Precio</label>
                <input
                  type="number"
                  class="form-control"
                  id="precio"
                  name="price"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-2">
                <label for="discount" class="form-label">Descuento en %</label>
                <input
                  type="number"
                  class="form-control"
                  id="discount"
                  name="discount"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-2">
                <label for="stock" class="form-label">Stock</label>
                <input
                  type="number"
                  class="form-control"
                  id="stock"
                  name="stock"
                  value="2"
                  required
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
              
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="formato" class="form-label">Formato</label>
                  <select name="format" id="formato" multiple>
                    <option value="1">Papel</option>
                    <option value="2">Ebook</option>
                  </select>
                </div>
                <% if (locals.errors && errors.format){ %>
                  <span class="focus-bg">
                    <div style="color: red"><%= errors.format.msg %></div>
                  </span>
                <% } %>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label for="material" class="form-label">material</label>
                  <select class="form-control" name="material" id="material">
                    <option>Papel offset</option>
                    <option>Papel ahuesado o marfil</option>
                    <option>Papel estucado</option>
                    <option>Formato Digital</option>
                  </select>
                </div>
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="d-grid gap-2 d-md-block mt-4">
                <button class="btn btn-primary-booksarmy " type="submit">
                  Cargar producto
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/footer") %>
  <script src="/js/productSelects.js"></script>
</body>
</html>
