<%- include("../partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container"><%- include("../partials/nabvar") %></div>

      <div class="hero-pages">
        <div class="container hero-flex">
          <div class="hero__title">
            <img src="/img/uploads/<%= libro.image %> " alt="" />
            <h1><span>Libro: </span> <%= libro.name %></h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products/admin">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Libro: <%= libro.name %></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="about-us py-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="about-us__title">
                <i class="fa-solid fa-book fa-2xl"></i>
                <h4><%= libro.name %> </h4>
              </div>
              <form action="/products/admin/edit/<%= libro.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation mb-5 py-4" novalidate>
                <div class="col-md-8">
                  <label for="name-product" class="form-label"
                    >Nombre del libro</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="name-product"
                    name="name"
                    value="<%= libro.name %>"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4">
                  <label for="genero" class="form-label">Géneros</label>
                  <% let generos = libro['gender'] %>
                  <% let arrayGeneros = generos.split(',') %> 
                  <select
                    multiple
                    name="gender"
                    id="genero"
                  > 
                    
                    <% arrayGeneros.forEach(genero => { %>
                      <option value="<%= genero %>" selected><%= genero %></option>
                    <% }) %>
                    <option value="Acción">Acción</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Drama">Drama</option>
                    <option value="Ciencia">Ciencia Ficción</option>
                    <option value="Novelas">Novelas</option>
                    <option value="Terror">Terror</option>
                    <option value="Suspenso">Suspenso</option>
                    <option value="Documentales">Documentales</option>
                  </select>
                  <div class="valid-feedback">Looks good!</div>
                  <p class="muted">Géneros: <%= libro['gender'] %> </p>
                </div>

                <div class="col-md-8">
                  <div class="mb-3">
                    <label for="description" class="form-label"
                      >Descripción</label
                    >
                    <textarea
                      class="form-control"
                      name="description"
                      id="description"
                      rows="5"
                    ><%= libro.description %></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="imagen" class="form-label"
                      >Imágen del libro</label
                    >
                    <input
                      type="file"
                      class="form-control"
                      name="imagen"
                      id="imagen"
                      placeholder="Suba una o más imágenes"
                      aria-describedby="fileHelpId"
                    />
                    <small id="fileHelpId" class="form-text text-muted"
                      >Necesita ayuda?</small
                    >
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="name-autor" class="form-label">Autor</label>
                  <select name="autor" id="name-autor">
                    
                    <% autores.forEach(autor => { %>
                      <% if (autor.id == libro.authors.id) { %>
                        <option value="<%= autor.id %>" selected><%= autor.first_name +" "+autor.last_name %></option> 
                      <% } else { %>
                        <option value="<%= autor.id %>"><%= autor.first_name +" "+autor.last_name %></option>
                      <% } %>
                    <% }) %>
                  </select>

                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4">
                  <label for="editorial" class="form-label">Editorial</label>
                  <input
                    type="text"
                    class="form-control"
                    id="editorial"
                    name="editorial"
                    value="<%= libro.editorial %>"
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-4">
                  <label for="isbn" class="form-label">ISBN</label>
                  <input
                    type="text"
                    class="form-control"
                    id="isbn"
                    name="isbn"
                    value="<%= libro.isbn %>"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>

                <div class="col-md-12">
                  <p class="lead">
                    Especificaciones del libro
                  </p>
                  <hr>
                </div>
                <div class="col-md-2">
                  <label for="precio" class="form-label">Precio</label>
                  <input
                    type="number"
                    class="form-control"
                    id="precio"
                    name="precio"
                    value="<%= libro.price %>"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-2">
                  <label for="stock" class="form-label">Stock</label>
                  <input
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="<%= libro.stock %>"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-2">
                  <label for="discount" class="form-label">Descuento</label>
                  <input
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discount"
                    value="<%= libro.discount %>"
                    required
                  />
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="material" class="form-label">material</label>
                    <select class="form-control" name="material" id="material">
                      <% let arrayFormatos = ["Papel offset", "Papel ahuesado o marfil", "Papel estucado", "Formato Digital"] %> 
                      <% arrayFormatos.forEach((formato) => { %>
                        
                        <% if (formato == libro.material) { %>
                          <option selected><%= formato %> </option>
                        <% } else { %>
                          <option><%= formato %> </option>
                          <% } %>
                      
                      <% }) %>
                    </select>
                  </div>
                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="col-md-3">
                  <div class="mb-3">
                    <label for="" class="form-label">Formatos</label>
                    <select multiple class="form-select" name="format" id="formato" aria-label="CitFormatosy">
                      <% formatos.forEach(formato => { %>
                        <!-- Verificamos si el libro tiene más de 1 formato-->
                        <% if (libro.booksFormat.length > 1) { %>

                          <% for( let i = 0; i < libro.booksFormat.length; i++ ) { %>
                            <% if (formato.id == libro.booksFormat[i].id) { %>
                              <option value="<%= formato.id %>" selected><%= formato.type %> </option>
                              <% }%>
                          <% } %>

                        <% } else { %>

                          <% if (formato.id == libro.booksFormat[0].id) { %>
                            <option value="<%= formato.id %>" selected><%= formato.type %> </option>
                          <% } else { %>
                            <option value="<%= formato.id %>"><%= formato.type %> </option>
                          <% } %>

                        <% } %>


                      <% }) %>
                    </select>
                  </div>

                  <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="d-grid gap-2 d-md-block mt-4">
                  <button class="btn btn-warning" type="submit">
                    Editar libro
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../partials/footer") %>

    <script src="/js/productSelects.js"></script>
  </body>
</html>
