<%- include("../partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container">
        <%- include("../partials/nabvar") %>
      </div>
    </header>

    <main>
      <section class="bg-admin py-5">
        <div class="container">
          <div class="row">
            <div class="col-9">
              <h3>Administrador de libros</h3>
              <p>Listado de libros</p>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
              <a href="/products/admin/create" class="btn btn-primary">Agregar un libro</a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-sm align-middle">
                  <thead class="bg-secondary text-white text-center">
                    <tr>
                      <th scope="col">Portada</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Autor</th>
                      <th scope="col">Stock</th>
                      <th scope="col">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% libros.forEach(libro => { %>
                    <tr>
                      <td scope="row">
                        <img
                          src="/img/uploads/<%= libro.image %> "
                          alt=""
                          width="60px"
                        />
                      </td>
                      <td><a href="/products/detail/<%= libro.id %>"><%= libro.name %></a> </td>
                      <td><%= libro.autor %></td>
                      <td><%= libro.stock %></td>
                      <td> 
                        <form action="/products/admin/delete/<%= libro.id %>/?_method=DELETE" method="POST" style="margin-bottom: 0;">
                          <a href="/products/admin/edit/<%= libro.id %> " class="btn btn-primary btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></a>
                          <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>                            
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include("../partials/footer")  %> 
  </body>
</html>
