  <%- include("partials/head") %>

  <body>
    <header>
      <div class="container">
        <%- include("partials/nabvar") %>
        <div class="hero">
          <div class="hero__title">
            <h2>Conoc칠 nuestro cat치logo de libros</h2>
            <a href="/products" class="btn btn-primary-booksarmy btn-xl">Nuestros libros</a>
          </div>
          <div class="hero__img">
            <img src="/img/register/Saly-16.png" alt="">
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="container categorias">
        <h2>Categorias</h2>
        <div class="container">
          <div class="card_banner oferta">
            <h3>Ofertas</h3>
          </div>
          <div class="card_banner genero">
            <h3>Generos</h3>
          </div>
          <div class="card_banner vendidos">
            <h3>M치s vendidos</h3>
          </div>
          <div class="card_banner colecciones">
            <h3>Colecciones</h3>
          </div>
        </div>
      </section>

      <section class="recomendaciones">
        <div class="container">
          <h2>Recomendaciones</h2>
          <div class="recomendaciones__cards">
            <% for( let i = 0; i < 9; i++ ) { %> 
              <div class="card">
                <a href="/products/detail/<%= libros[i].id %>">  
                  <img src="/img/uploads/<%= libros[i].image %>" alt="" />
                </a>
  
                <h3 class="card-title"><%= libros[i].name %> </h3>
  
                <div class="card-footer">
                  <div class="card-precio">
                    <p>$<%= libros[i].price %></p>
                  </div>
                  <div class="card-icons">
                    <i class="fas fa-heart fa-lg"></i>
                    <i class="fas fa-share fa-lg"></i>
                    <a href="#"><i class="fas fa-cart-arrow-down fa-lg"></i></a>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </section>

      <section class="articulos">
        <div class="articulos__item">
          <div class="articulos__card">
            <h3> 游댌 Los m치s buscados</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non error
              alias quasi
            </p>
            <a class="btn-b btn-danger-booksarmy" href="#" role="button">Ver libros</a>
          </div>
        </div>
        <div class="articulos__item">
          <div class="articulos__card">
            <h3>驕뢢잺 Los m치s vendidos</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Non error
              alias quasi
            </p>
            <a class="btn-b btn-primary-booksarmy" href="#" role="button">Ver libros</a>
          </div>
        </div>
      </section>

      <section class="ofertas-increibles">
        <div class="container">
          <div class="ofertas-increibles__title">
            <h2>Ofertas imperdibles .</h2>
          </div>

          <div class="ofertas-increibles__slider">
            <div class="slider__card">
              <img
                src="/img/books/portadas/El julguero-Donna-Tartt.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img
                src="/img/books/portadas/El alquimista - Coelho.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img src="/img/books/portadas/Rayuela-Cortazar.jpg" alt="" />
              <p>Precio</p>
            </div>
            <div class="slider__card">
              <img
                src="/img/books/portadas/El hobbit - JRR Tolkien.jpg"
                alt=""
              />
              <p>Precio</p>
            </div>
          </div>
        </div>
      </section>

      <section class="important">
        <div class="container call-to-action">
          <div class="call-to-action__descripcion">
            <h4>Queres est치r al d칤a con nuestras promociones</h4>
            <p>Lorem ipsum dolor siasda sa deserunt illo quo</p>
          </div>

          <div class="call-to-action__btns">
              <a class="btn-b btn-primary-booksarmy" href="#" role="button">Contacto</a>
              <a class="btn-b btn-gray-700-booksarmy" href="#" role="button">Contacto</a>
            </div>
        </div>
      </section>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
