<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>

  <main>
    <section class="admin py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h3>Crear usuario</h3>


            <% if (locals.errors) { %>
              <div class="alert alert-danger" role="alert">
                <strong>Opps !</strong> Algo ha salido mal.
              </div>
              <% console.log(oldData) %> 
            <% } %>
          </div>
        </div>

        <div class="row pb-5">
          <form class="row g-3" method="POST" action="/users/create" enctype="multipart/form-data" id="frm_create">
            <div class="col-md-4">
              <label for="first_name" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="<%= locals.oldData ? oldData.first_name : null %>" >
              <% if (locals.errors && errors.first_name){ %>
                <span class="focus-bg">
                  <div style="color: red"><%= errors.first_name.msg %></div>
                </span>
              <% } %>
            </div>
            <div class="col-md-4">
              <label for="last_name" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="last_name" name="last_name">
              
            </div>
            <div class="col-md-4">
              <label for="email" class="form-label">Email</label>
              <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend"> @ </span>
                <input type="email" class="form-control" id="email" name="email" value="<%= locals.oldData ? oldData.email : null %>">
              </div>
              <% if (locals.errors && errors.email) { %>
                <span class="focus-bg">
                  <div style="color: red"><%= errors.email.msg %></div>
                </span>
              <% } %>
            </div>
            <div class="col-md-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
              <% if (locals.errors && errors.password) { %>
                <span class="focus-bg">
                  <div style="color: red"><%= errors.password.msg %></div>
                </span>
              <% } %>
            </div>
            <div class="col-md-4">
              <label for="category_id" class="form-label">Categoría</label>
              <select class="form-select" id="category_id" name="category_id">
                <option value="1">Administrador</option>
                <option value="2">Usuario</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>
            <div class="col-md-4">
              <label for="image" class="form-label">Imágen de perfil</label>
              <input type="file" class="form-control" name="image" id="image">
              <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 mt-4">
              <button class="btn btn-primary" type="submit">Cargar usuario</button>
              <a href="/users" class="btn btn-outline-secondary">Volver</a>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="errores alert alert-danger hidden">
              <ul></ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/footer") %>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <script src="/js/validateUserCreate.js" defer></script>
</body>
</html>
