<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>
  </header>

  <main>
    <section class="bg-admin py-5">
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h3>Usuarios</h3>
            <p>Listado de usuarios</p>
          </div>
          <div class="col-3 d-flex justify-content-end align-items-center">
            <a href="/users/create" class="btn btn-primary">Cargar usuario</a>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
              <thead class="bg-secondary text-white text-center">
                <tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Email</th>
                  <th>Categoría</th>
                  <th>#</th>
                </tr>
                </thead>
                <tbody>
                  <% if (usuarios.length > 0){ %>
                    <% usuarios.forEach(user => { %>
                      <tr>
                        <td><%= user.id %> </td>
                        <td scope="row"><%= user.first_name %></td> </td>
                        <td><%= user.email %></td>
                        <td>
                          <span class="badge <%= (user.category_id == 1) ? "bg-success" : "bg-dark bg-gradient" %>"><%= user.categorias.name %> </span>
                        </td>
                        <td>
                          <form action="/users/delete/<%= user.id %>/?_method=DELETE" method="post" id="frm_delete">
                            <input type="hidden" name="user_id" id="user_id" value="<%= user.id %>">
                            <a href="/users/edit/<%= user.id %>" class="btn btn-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                          </form>
                        </td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                    <tr>
                      <td colspan="5">No hay usuarios</td>
                    </tr>
                  <% } %>
                  
                </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include("../partials/footer") %>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/users.js"></script>

</body>
</html>
