<%- include("../partials/head-pages") %>
<body>
  <header class="cart-header">
    <div class="container"><%- include("../partials/nabvar") %></div>

  <main>
    <section class="about-us py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <h3>Usuario: <%= user.first_name %> </h3>
            
            <img src="/img/users/<%= user.image %>" alt="" width="200">

            <p><%= user.last_name %> </p>
            <p><%= user.email %> </p>

            <p>OJO! TERMINAR VISTA</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("../partials/footer") %>
</body>
</html>
