<%- include("../partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container">
        <%- include("../partials/nabvar") %>
      </div>

      <div class="hero-pages">
        <div class="container hero-flex">
          <div class="hero__title pt-2">
            <img src="/img/book.png" alt="target" />
            <% if (locals.busqueda) { %>
              <h1><span>Busqueda: </span> "<%= busqueda %>"</h1>
            <% } else {%>
              <h1><span>Nuestros</span> libros</h1>
            <% }%>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="products-list py-5 mt-3">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-5 fw-semibold">Filtros</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Autores
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <% librosThis.forEach(libro => { %>
                          <li><a href="#" class="link-dark rounded" id="filter_author" onclick="filtrar(this)" data-name="<%= libro.authors.last_name %>"><%= libro.authors.first_name + " " + libro.authors.last_name %> </a></li>
                        <% }) %>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Géneros
                    </button>
                    <div class="collapse show" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Acción </a></li>
                        <li><a href="#" class="link-dark rounded">Ciencia Ficción </a></li>
                        <li><a href="#" class="link-dark rounded">Comedia </a></li>
                        <li><a href="#" class="link-dark rounded">Documentales </a></li>
                        <li><a href="#" class="link-dark rounded">Drama </a></li>
                        <li><a href="#" class="link-dark rounded">Novelas </a></li>
                        <li><a href="#" class="link-dark rounded">Suspenso </a></li>
                        <li><a href="#" class="link-dark rounded">Terror </a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Formato
                    </button>
                    <div class="collapse show" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Papel</a></li>
                        <li><a href="#" class="link-dark rounded">Ebook</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Precios
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Menos de $1.000</a></li>
                        <li><a href="#" class="link-dark rounded">Entre $1.000 y $2.000</a></li>
                        <li><a href="#" class="link-dark rounded">Entre $2.000 y $5.000</a></li>
                        <li><a href="#" class="link-dark rounded">Más de $5.000</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                  <% if (!librosThis.length > 0) { %>
                    <div class="alert alert-warning" role="alert">
                      <h4 class="alert-heading">Sin resultados</h4>
                      <h3> Lo siento no hay resultados para la búsqueda</h3>                    
                      <hr>
                      <p class="mb-0">Alert Description</p>
                    </div>
                  <% } %>
                  <% librosThis.forEach(libro => { %>
                  <div class="col-4 mb-5">
                    <div class="card h-100">
                      <!-- Product image-->
                      <img
                        class="card-img-top"
                        src="/img/uploads/<%= libro.image  %> "
                        alt="..."
                      />
                      <!-- Product details-->
                      <div class="card-body p-4">
                        <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><%= libro.name %> </h5>
                          <!-- Product price-->
                          <span class="">$ <%= libro.price - ((libro.price * libro.discount) / 100 )%></span>
                        </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                          <a class="btn btn-outline-dark mt-auto" href="/products/detail/<%= libro.id %> "
                            >Ver libro</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>

              
            </div>
          </div>
          
        </div>
      </section>
    </main>

    <%- include("../partials/footer")  %>
    <script>

      function filtrar(autor){
        console.log(autor.getAttribute("data-name"))
      }
    </script>
  </body>
</html>
