<%- include("../partials/head-pages") %>
  <body>
    <header class="cart-header">
      <div class="container">
        <%- include("../partials/nabvar") %>
      </div>

      <div class="hero-pages">
        <div class="container hero-flex">
          <div class="hero__title">
            <img src="/img/book.png" alt="target" />
            <h1><span>Todos</span> nuestros libros</h1>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="products-list py-5 mt-3">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-5 fw-semibold">Filtros</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Updates</a></li>
                        <li><a href="#" class="link-dark rounded">Reports</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Overview</a></li>
                        <li><a href="#" class="link-dark rounded">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded">Annually</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New</a></li>
                        <li><a href="#" class="link-dark rounded">Processed</a></li>
                        <li><a href="#" class="link-dark rounded">Shipped</a></li>
                        <li><a href="#" class="link-dark rounded">Returned</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Account
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">New...</a></li>
                        <li><a href="#" class="link-dark rounded">Profile</a></li>
                        <li><a href="#" class="link-dark rounded">Settings</a></li>
                        <li><a href="#" class="link-dark rounded">Sign out</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-9">
              <div class="row">
                  <% librosThis.forEach(libro => { %>
                  <div class="col-4 mb-5">
                    <div class="card h-100">
                      <!-- Product image-->
                      <img
                        class="card-img-top"
                        src="/img/uploads/<%= libro.image  %> "
                        alt="..."
                      />
                      <!-- Product details-->
                      <div class="card-body p-4">
                        <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder"><%= libro.name %> </h5>
                          <!-- Product price-->
                          <span class="">$ <%= libro.price - ((libro.price * libro.discount) / 100 )%></span>
                        </div>
                      </div>
                      <!-- Product actions-->
                      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                          <a class="btn btn-outline-dark mt-auto" href="/products/detail/<%= libro.id %> "
                            >Ver libro</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>

              
            </div>
          </div>
          
        </div>
      </section>
    </main>

    <%- include("../partials/footer")  %> 
  </body>
</html>
